* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input, button, select {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
	background: rgb(64, 64, 64);
	color: #fff;
	border: 0;
	margin: .5em;
	padding: .5em;
	cursor: pointer;
	border-radius: .75em .75em .5em .5em;
}

input, select {
	background: rgb(64, 64, 64);
	color: #fff;
	border: 0;
	margin: .5em;
	padding: .5em;
	cursor: pointer;
	border-radius: .5em .75em .75em .5em;
}

input[type=text] {
	cursor: text;
}

input[type=color] {
	padding: 0;
	width: 2ch;
	height: 2ch;
	margin: 0;
	background: none;
	border: 0;
}